<div class="container">
    <div class="row">
        <div class="col">
        <h3>
            <strong>Documents</strong>
        </h3>
        <h5>
            <strong>Search document or select category</strong>
        </h5>
        </div>
    </div>
    <div class="docs__container">
        <div class="row">
            <div class="col-12 col-md-2">
                <ul class="list-unstyled list__menus"> 
                    <li class="mb-3" [ngClass]="{'active': selectedItem == menu}" *ngFor="let menu of menus" (click)="updateCategory(menu)">
                        {{menu}}
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-10">
                <div class="form-group">
                    <input type="text" class="form-control" [formControl]="searchFilter" placeholder="Start typing document name..." />
                </div>
                <div class="card__container">
                    <div class="row">
                        <div class="col col-md-4 col-xl-3" *ngFor="let doc of documents | search: searchFilter.value | category:docCategory">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <span class="{{doc.title}}"> {{doc.title}}</span>
                                </div>
                                <div class="card-body">
                                    {{doc.value}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>